<div class="container-fluid mt-3 text-center">
  <mat-card>
    <mat-card-title>
      Über das Projekt
    </mat-card-title>
    <mat-card-content class="text-center">
      <p>Ich habe über mehrere Monate hinweg sämtliche lebensmittelbezogenen Einkäufe dokumentiert und in eine Datenbank
        eingetragen. Mit dieser Website habe ich mir die Nutzung von Angular beigebracht und gleichzeitig die Daten
        präsentierbar dargestellt.</p>
      <p>Weitere Projekte von mir finden Sie auf meiner <a href="http://www.jacobgsell.de">Homepage</a>. </p>
    </mat-card-content>
  </mat-card>
</div>
