<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <i class="material-icons" (click)="toggle()">menu</i>

    <div class="mat-typography m-auto">  
      <a routerLink="/contact" class="mat-list-item mx-3" style="color: white;">Kontakt</a>
      <a routerLink="/imprint" class="mat-list-item mx-3" style="color: white;">Impressum</a>
      <a routerLink="/privacy" class="mat-list-item mx-3" style="color: white;">Datenschutz</a>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
