<div class="container-fluid mt-3 text-center">
    <div class="row ml-auto mr-auto">
  <div class="col-lg-3 col-sm-3">
    <mat-card>
        <mat-card-title>
          <i class="material-icons md-18">
              mail
          </i>
          E-Mail
        </mat-card-title>
        <mat-card-content class="text-center">
            <a href="mailto:kontakt@jacobgsell.de"><h2>kontakt@jacobgsell.de</h2></a>
        </mat-card-content>
      </mat-card>
  </div>

  <div class="col-lg-3 col-sm-3">
    <mat-card>
      <mat-card-title>
        <i class="material-icons md-18">
            home
        </i>
        Homepage
      </mat-card-title>
      <mat-card-content class="text-center">
          <a href="http://www.jacobgsell.de"><h2>jacobgsell.de</h2></a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
