<div class="container-fluid mt-3">
    <mat-card>
    <h1>Impressum</h1>
    <h2>Diensteanbieter</h2>
    <p> Jacob Gsell</p>
    <p> Hallertraße 37 </p>
    <p> 90419 Nürnberg</p>
    <ul class="m-elements"></ul><h2 id="m56">Kontaktmöglichkeiten</h2><p><strong>E-Mail-Adresse</strong>: <a href="mailto:kontakt@jacobgsell.de">kontakt@jacobgsell.de</a></p>
    <p><strong>Telefon</strong>: 01573 7270207</p>
    <p></p>
    <p class="seal"><a href="https://datenschutz-generator.de/?l=de" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer">Erstellt mit Datenschutz-Generator.de von Dr. jur. Thomas Schwenke</a></p>
    </mat-card>
</div>